.creater {
  margin: auto ;
  min-height: 150px;
  display: flex-box;
  flex-flow: wrap;
}

h2 {
  font-size: 35px;
  padding-top: 10px;
  margin-bottom: 20px;
}

input {
  height: 50px;
  width: 1000px;
  font-size: larger;
  padding-left: 10px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  background-color: rgb(239, 245, 248);

}

button {
  height: 50px;
  width: 100px;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid blueviolet;
  background-color: rgb(20, 172, 238);
  font-size: larger;
}